[MASTER]
# Add files or directories to the ignore-patterns list
ignore-patterns=conf.py,docs/source/conf.py

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    too-many-lines,
    too-many-instance-attributes,
    too-many-locals,
    too-many-arguments,
    too-many-public-methods,
    E1101,  # Module has no member

[FORMAT]
max-line-length=88

[TYPECHECK]
docstring-min-length=10
ignored-modules=pyarrow.lib